<header>
  <div class="page_wrap">
    <div  class="chats_nav_wrap">
      <div class="chats_nav">

        <div class="me-checkbox-group" ng-repeat="cat in chatCats">
          <span>{{cat.name}}</span>
          <div class="me-checkbox">
            <input
              ng-click="includeCategory(cat.name)"
              type="checkbox"
              id="{{cat.shortName}}"
              checklist-model="chatCatsSelected.name"
              checklist-value="cat.name"
            />
            <label for="{{cat.shortName}}"></label>
          </div>
        </div>

        <div class="me-checkbox-group">
          <div class="clearBtn">
            <button
              class="btn btn_orange"
              ng-click="uncheckAll(); categoryIncludes.length = 0">
              Clear Categories
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
<div class="full_page_section">
  <div class="page_wrap">
    <div class="me-input-group inlineCtrls">
      <input class="quick_search" type="text" ng-model="quicksearch" placeholder="quick search..." />
      <button class="btn btn_blue" ng-click="quicksearch = ''">Clear</button>
    </div>
    <ul class="chats_list">
      <li ng-repeat="chat in chats | filter: quicksearch | filter: categoryFilter" class="white_solid">
        <div class="cata_title">
          <h3>{{chat.category}}</h3><h3>{{chat.title}}</h3>
        </div>
        <div class="dispaly_text_wrap">
          <p class="notes">{{chat.notes}}</p>
          <p>{{chat.text}}</p>
          <div class="multi_line" ng-repeat="breaks in chat.textLineBreaks">
            <span>{{breaks}}</span>
            <br />
          </div>
        </div>
        <div class="bottom_wrap">
          <button class="btn btn_blue"
          ngclipboard
          data-clipboard-text="{{chat.text}}{{chat.copyText}}" 
          ng-click="meAlert.autoClose('Copied!', 800)">Copy</button>
          <span class="author">{{chat.author}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="me_alert_window" ng-show="meAlert.show">
  <div class="me_alert_box animated bounceIn">
    <div class="me_alert_message">
      <div class="success_icon_box">
        <svg class="checkmark-animation" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
          <circle class="mark circle checked" cx="100" cy="100" r="94"/>
          <polyline class="mark checkmark checked" points="46.9 101.4 76.9 131.4 146.4 61.9"/>
        </svg>
      </div>
      <p>{{meAlert.message}}</p>
      <div class="btn_wrap">
        <button
        ng-show="meAlert.useCloseBtn"
        class="btn_primary_s"
        ng-click="meAlert.toggle()">Close</button>
      </div>
    </div>
  </div>
</div>
