<header class="blue_solid">
  <div class="page_wrap">
    <div class="header_padding">
      <h2>Suggestion Box</h2>
    </div>
  </div>
</header>
<div class="page_wrap">
  <div class="page_section">

    <div class="flex_container">
      <div class="form">
        <form accept-charset="UTF-8" action="https://an140.infusionsoft.com/app/form/process/1025c21f7cd2c6624103dbbd17ffdc46" class="infusion-form" method="POST">
          <input name="inf_form_xid" type="hidden" value="1025c21f7cd2c6624103dbbd17ffdc46" />
          <input name="inf_form_name" type="hidden" value="CHATS Suggestion Box" />
          <input name="infusionsoft_version" type="hidden" value="1.57.0.43" />
          <div class="me-input-group">
              <input placeholder="First Name *" required class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" />
          </div>
          <div class="me-input-group">
              <input placeholder="Last Name" class="infusion-field-input-container" id="inf_field_LastName" name="inf_field_LastName" type="text" />
          </div>
          <div class="me-input-group">
              <input placeholder="Email *" required class="infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" />
          </div>
          <div class="me-input-group">
              <textarea placeholder="Suggestion... *" required cols="24" id="inf_custom_Whatwouldyouliketotalkabout" name="inf_custom_Whatwouldyouliketotalkabout" rows="5"></textarea>
          </div>
          <div class="infusion-submit">
              <input class="btn btn_orange" type="submit" value="Submit" />
          </div>
        </form>
        <script type="text/javascript" src="https://an140.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=ce1c56f581c3fcee728d109870c1eb9a"></script>
      </div>
      <div class="trello_box">
        <a href="https://trello.com/b/izNT767O/merb-chat-scripts-project" target="_blank">
          <p>Check out the Trello board for what is being worked on.</p>
          <img src="content/img/trello-logo-blue.svg" alt="trello logo and name" />
          <img src="content/img/taco.svg" alt="trello mascot taco"/>
        </a>
      </div>
    </div>

  </div>
</div>
